.loader-block{
    height: 77px;
    width: -webkit-fill-available;

    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    
    transition: 0.5s;
}


.drjYbJ{
    margin-top: 10px;
    width: 42px;
    margin-left: 15px;
    stroke: rgb(48, 144, 255);
}
*{
    transition: 1s;
}