.list-form{
    position: relative;
    min-width: 275px;
    height: 100px;
    display: flex;
    background: white;
    opacity: 0.9;
    border-radius: 10px;
    flex-direction: column;
}

.list-form> input{
    position: absolute;
    top: 30px;
    width: 170px;
    height: 25px;
    border: 0;
    border-bottom: 2px solid gray;
    text-align: center;
    left: 25px;
}

.close_list_form{
    position: absolute;
    top: 8px;
    right: 8px;
    border-radius: 50%;
    width: 25px;
    height: 25px;
    display: flex;
    align-items: center;
    background: #cefdfd;
    cursor: pointer;
    transition: .3s;
}

.close_list_form:hover{
transform: translateY(-2px);
background-color: rgb(230, 58, 58);
}

.close_list_form:active{
    transform: translateY(2px);

}
.add_list_btn_modal{
    position: absolute;
    padding: 3px;
    border-radius: 8px;
    background-color: #377374;
    color: white;
    width: 130px;
    border: 0;
    cursor: pointer;
    transition: 0.4s;
    bottom: 8px;
    left: 25px;
}

.error_massage_modal_list{
    margin: 0 auto;
    transform: translateY(6px);
    color: red;
    font-size: 12px;

}

.add_list_btn_modal:disabled{
    background-color: rgb(157, 216, 216);
    cursor:no-drop;
}

.add_list_btn_modal:disabled:hover{
    transform: translateY(0px);
}