.container{
    width: 80%;
    margin: 0 auto;
}
.title-home{
    font-size: 28px;
    text-align: center;
}

.block-board{
    margin-top: 80px;
    background: #58f2f74a;
 display: flex;
 flex-wrap: wrap;
 justify-content: center;
 border: 2px solid gray;
 border-radius: 10px;
 height: 400px;
 overflow: auto;
}
.add-new-board{
    width: 240px;
    height: 120px;
    opacity: .6;
    cursor: pointer;
    border: 1px dashed grey;
    transition: .3s;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 15px;
}

.add-new-board:hover{
opacity: 1;
transform: translateY(-4px);
}

::-webkit-scrollbar{
    width: 9px;
    border-radius: 10px;
    background: rgb(245, 230, 211);
}

::-webkit-scrollbar-thumb{
    background: #0000007a;
    border-radius: 10px;
}