.list-title{
  text-align: center;
}

.box-list{
    width: 75%;
    background-color: white;
    border-radius: 6px;
    padding: 20px;
    list-style-type: none;
}

.box-list:hover{
 background-color: rgb(233, 232, 232);
}

.button-add{
    width: 75%;
    height: 45px;
    background-color: rgba(128, 128, 128, 0.1);
    border-radius: 15px;
    text-align: center;
    display: flex;
    align-items: center;
    font-size: 16px;
    justify-content: space-between;
    cursor: pointer;
    margin-bottom: 20px;

}

button-add:hover{
    background-color: rgba(128, 128, 128, 0.3);
}